<!DOCTYPE html>
<html>
  <head>
    <title>Library</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbolinks-track": "reload" %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1">
  </head>
 <%= render 'layouts/header' %>
<body>
    <div>
      <%= link_to "English", locale:"en" %>
      <%= link_to "Vietnamese", locale:"vi" %>
    </div>
    <%= yield %>
  </body>
   <%= render 'layouts/footer' %>
</html>
